body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', sans-serif;
    font-weight: 200;
    color:#000;
    background: url("background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media screen and (max-aspect-ratio: 3360/2112) {
  body {
    background-size: auto 200%;
  }
}

a {
    color: #000; 
    text-decoration: underline;
    font-weight: 300;
}

#wrapper {
    padding: 40px;
}

#title {
    float: left;
    text-transform: uppercase; 
    font-size: 21px;
}

#title img {
    vertical-align: top;
    margin-left: 6px;
}

#share {
    float: right;
    text-transform: uppercase;
    font-size: 21px;
}

#content {
    max-width: 900px;
    margin: auto;
    padding-top: 80px;
}

#about {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 20px;
    padding-top: 20px;
}

#attributionList {
    font-size: 14px;
    line-height: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-height: 300px;
    overflow: scroll;
}

.username {
    text-transform: uppercase;
}

.soundname {
    font-size: 18px;
    text-transform: uppercase;
}

.licensename {
    text-transform: uppercase;
}


input { padding: 5px; border-radius: 4px; border: 1px #ddd solid; font-size: 12px; margin-bottom: 3px;}
button { 
    height: 24px;
    border-radius: 12px; 
    padding-left: 10px; 
    padding-right: 10px; 
    border: 0px; 
    background-color: transparent; 
    margin: 0px;
    margin-bottom: 3px;
    cursor:pointer;
    font-size: 12px;
}
.slider_label {vertical-align: top; line-height: 26px;}
button:hover {background-color: #f76576; }
.black_button {background-color: #333; }
.black_button:hover {background-color: #888; }

#evolution_percentage_indicator {
    display: none; /* must be set to inline-block in code  */
    width: 100px;
    height: 24px;
    background-color: #ffc9cf;
    vertical-align: top;
    margin-bottom: 5px;
}
#evolution_percentage_indicator_loader {
    background-color: #F31C36;
    width: 0%;
    height: 100%;
}
@keyframes flash_input {
    from { background-color: #ffc9cf; }
    to { background-color: #fff; }
    
}
.flash_input {
    animation-name: flash_input;
    animation-duration: 900ms;
}  