input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 0px solid transparent;
    
    /*required for proper track sizing in FF*/
    width: 150px;

    background: transparent;

    padding: 7px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 150px;
    height: 1px;
    background: black;
    border: none;
    border-radius: 0px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -7px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-track {
    width: 150px;
    height: 1px;
    background: black;
    border: none;
    border-radius: 0px;
    padding: 0px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 0px solid transparent;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 150px;
    height: 1px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: black;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 0px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: transparent;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: transparent;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
}
input[type=range]:focus::-ms-fill-lower {
    background: transparent;
}
input[type=range]:focus::-ms-fill-upper {
    background: transparent;
}